* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: "Inter", sans-serif;
}

.header {
    /* backdrop-filter: blur(35px); */
    /* background: linear-gradient(99deg, rgba(0, 197, 235, 0.3) 0%, rgba(181, 68, 254, 0.3) 100%); */
    background: #06071b;
}

.container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-link {
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    padding-top: 19px;
    padding-bottom: 19px;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-item {
}

.header-link-item {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    padding-top: 29px;
    padding-bottom: 28px;
    display: block;
}

/* ------------ section-features  ---------------*/

.section-features {
  padding: 100px 0;
}

.features-title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  max-width: 179px;
  margin: 0 auto 80px;
}
.features-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin: 0 auto;
  max-width: 855px;
  padding-bottom: 56px;
}

.container .team-container {
    padding: 25px 16px;
}

.team-head {
    margin-left: auto;
    margin-right: auto;
  
.features {
  max-width: 973px;
  margin: 0 auto;
  justify-content: space-between;
}

.features {
  display: flex;
  position: relative;
}
.features-list {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 492px) / 2);
  gap: 24px;
  padding-top: 61px;
}
.features-item {
}
.features-item-title {
  margin-bottom: 13px;
}
.features-item-text {
}

.features-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

/* END SECTION FEATURES */

/*        team section */
.team {
}

.team-container {
  padding-top: 80px;
  padding-bottom: 16px;
}

.team .team-head {
  margin: 0 auto 80px;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  max-width: 129px;
}

.team-text {
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  max-width: 886px;
  margin-bottom: 56px;
}

.team-list {
  display: flex;
  gap: 32px;
}

.team-item {
  width: calc((100% - 96) / 4);
  padding: 14px 12px 12px;
  border-radius: 15px;
  background-image: linear-gradient(115deg, #00c5eb 0%, #b544fe 100%);
}

.team-item-img {
}

.team-item-card {
  padding-top: 20px;
}

.team-item-head {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
}

.team-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: #fff;
}

/* Footer */

.footer {
    background-color: #06071b;
    padding-top: 80px;
    padding-bottom: 20px;
}

.footer-title {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    color: #fff;

    max-width: 500px;
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}

.footer-social-link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icon {
    fill: #fff;
}

.footer-contacts {
    font-style: normal;
}

.footer-contacts-link {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 12px;
}

.footer-content-wrapper {
    display: flex;
    padding-bottom: 80px;
}

.footer-form {
    margin-left: auto;
}

.footer-textarea {
    display: block;
}

.footer-input {
    border-radius: 5px;
    width: 288px;
    height: 40px;
    background-color: #fff;

    border: none;
    outline: none;
    padding: 12px 8px;
}

.footer-input::placeholder,
.footer-textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #939eac;
}

.footer-textarea {
    border: none;
    outline: none;
    padding: 12px 8px;
    resize: none;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 5px;
    width: 608px;
    height: 162px;
}

.input-wrapper {
    display: flex;
    gap: 32px;
}

.footer-button {
    border-radius: 5px;
    width: 181px;
    height: 42px;
    border: none;

    background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
    display: block;
    margin-left: auto;

    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.copyright-text {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}

.footer-content-wrapper {
    position: relative;
}

.footer-content-wrapper::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    border: 1px solid #fff;
    width: 100%;
}

/* WATCH THE VIDEO */

.section-wtv {
  margin-top: 100px;
  margin-bottom: 80px;
  padding: 60px 16px;
  background: #06071b;
}

.wtv-container {
  display: flex;
}

.header-wtv {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.text-wtv {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  width: 479px;
  margin-bottom: 40px;
}

.wtv-list {
  display: flex;
  gap: 20px;
}

.wtv-img-phone {
  display: flex;
  margin-left: auto;
}

.test {
  display: flex;
  flex-direction: column;
}

.wtv-list-item-pic {
  width: 60px;
  height: 60px;
}

.wtv-list-item-pic:hover {
  display: block;
  transform: rotate(360deg);
  transition-duration: 500ms;
}

/* END of      team section */

